# Python Virtual Environments
.venv/
venv/
ENV/

# Python Bytecode and Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Computer Vision / Deep Learning Models
*.pt

# Test and Hardware-Specific Files
Lockedrone/alienware_test.py
Lockedrone/test.py

